<!-- BEGIN HEADER -->
<div class="header">
  <div class="container">
    <a *ngIf="company != undefined" class="site-logo" href="">
      <img *ngIf="company.logo_base64 != ''" height="30px" [src]="DomSanitizer.bypassSecurityTrustUrl(company.logo_base64)" alt="{{company.name}}"/>
      <label *ngIf="company.logo_base64 == ''">{{company.name}}</label>
    </a>

    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

    <!-- BEGIN CART -->
    <div class="top-cart-block" *ngIf="cartItemsInfo != undefined">
      <div class="top-cart-info">
        <a href="javascript:void(0);" class="top-cart-info-count">{{cartItemsInfo.count}} sản phẩm</a>
        <a href="javascript:void(0);" class="top-cart-info-value">{{cartItemsInfo.total_price | currency:cartItemsInfo.unit}}</a>
      </div>
      <i class="fa fa-shopping-cart"></i>
                    
      <div class="top-cart-content-wrapper">
        <div class="top-cart-content" *ngIf="cartItems.length == 0" style="text-align:center;">
          Không có sản phẩm nào được chọn
        </div>

        <div class="top-cart-content" *ngIf="cartItems.length > 0">
          <ul class="scroller" style="height: 250px;">
            <li *ngFor="let cart of cartItems; let i = index">
              <a routerLink="/product/{{cart.id}}">
                <img [src]="DomSanitizer.bypassSecurityTrustUrl(cart.image_base64)" alt="{{cart.name}}" width="37" height="34">
              </a>
              <span class="cart-content-count">x {{cart.quantity}}</span>
              <strong><a href="shop-item.html">{{cart.name}}</a></strong>
              <em>{{cart.price*cart.quantity | currency:cart.unit}}</em>
              <a (click)="removeCartItems(cart)" class="del-goods">&nbsp;</a>
            </li> 
          </ul>
          <div class="text-right">
            <a routerLink="/cart" class="btn btn-default">Xem giỏ hàng</a>
            <a routerLink="#" class="btn btn-primary">Thanh Toán</a>
          </div>
        </div>
      </div>            
    </div>
    <!-- END CART -->

    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation">
      <ul>
        <li class="dropdown dropdown100 nav-catalogue">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
            Phúc Minh Tâm
            
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="header-navigation-content">
                <div class="row" *ngIf="products != undefined">
                  <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let item of getProductByCategoryId(1)">
                    <div class="product-item">
                      <div class="pi-img-wrapper">
                        <a routerLink="/product/{{item.id}}"><img [src]="DomSanitizer.bypassSecurityTrustUrl(item.image_base64)" class="img-responsive productList-image" alt="{{item.name}}"></a>
                      </div>
                      <h3 class="productList-title"><a href="#">{{item.name}}</a></h3>
                      <div class="pi-price">{{item.price | currency:item.unit}}</div>
                      <!--
                        "Currency code"  ISO 4217
                        https://en.wikipedia.org/wiki/ISO_4217
                      -->
                      <!--<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>-->
                    </div>
                  </div>
                 
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown dropdown-megamenu">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
              Mỹ Phẩm Thiên Nhiên MOCHA
              
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="header-navigation-content">
                  <div class="row" *ngIf="subcategories != undefined">
                    <div class="col-md-4 header-navigation-col" *ngFor="let sub of getSubcategoryByCategoryId(2)">
                      <h4><a routerLink="products/{{sub.category_id}}/{{sub.id}}">{{sub.name}}</a></h4>
                      <ul *ngIf="products != undefined">
                        <li *ngFor="let p of getProductBySubCategoryIdAndCategoryId(sub.id, sub.category_id)" style="overflow: hidden;">
                          <a routerLink="product/{{p.id}}">{{p.name}}</a>
                        </li>
                      </ul>
                    </div>
                    <!--
                    <div class="col-md-12 nav-brands">
                      <ul>
                        <li><a href="#"><img title="esprit" alt="esprit" src="../../assets/frontend/pages/img/brands/esprit.jpg"></a></li>
                        <li><a href="#"><img title="gap" alt="gap" src="../../assets/frontend/pages/img/brands/gap.jpg"></a></li>
                        <li><a href="#"><img title="next" alt="next" src="../../assets/frontend/pages/img/brands/next.jpg"></a></li>
                        <li><a href="#"><img title="puma" alt="puma" src="../../assets/frontend/pages/img/brands/puma.jpg"></a></li>
                        <li><a href="#"><img title="zara" alt="zara" src="../../assets/frontend/pages/img/brands/zara.jpg"></a></li>
                      </ul>
                    </div>
                    -->
                  </div>
                </div>
              </li>
            </ul>
        </li>
        <li>
          <a routerLink="/recruitment">
            Tuyển Dụng
          </a>
        </li>
        <li>
          <a routerLink="/news">
            Tin Tức
          </a>
        </li>
        <li>
          <a routerLink="/contact">
            Liên Hệ
          </a>
        </li>
       
        <!-- BEGIN TOP SEARCH -->
        <li class="menu-search">
          <span class="sep"></span>
          <i class="fa fa-search search-btn"></i>
          <div class="search-box">
            <form action="#">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Search</button>
                </span>
              </div>
            </form>
          </div> 
        </li>
        <!-- END TOP SEARCH -->
      </ul>
    </div>
    <!-- END NAVIGATION -->
  </div>
</div>
<!-- Header END -->