<!-- BEGIN BRANDS -->
<div class="brands">
  <div class="container">
        <div class="owl-carousel owl-carousel6-brands">
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/canon.jpg" alt="canon" title="canon"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/esprit.jpg" alt="esprit" title="esprit"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/next.jpg" alt="next" title="next"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/canon.jpg" alt="canon" title="canon"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/esprit.jpg" alt="esprit" title="esprit"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/next.jpg" alt="next" title="next"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
          <a href="#"><img src="http://phucminhtam.net/assets/frontend/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
        </div>
    </div>
</div>
<!-- END BRANDS -->

<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
    <div class="container">
      <div class="row">
        <div class="col-md-4 steps-block-col">
          <i class="fa fa-truck"></i>
          <div>
            <h2>Miễn phí</h2>
            <em></em>
          </div>
          <span>&nbsp;</span>
        </div>
        <div class="col-md-4 steps-block-col">
          <i class="fa fa-gift"></i>
          <div>
            <h2>Mỗi ngày</h2>
            <em></em>
          </div>
          <span>&nbsp;</span>
        </div>
        <div class="col-md-4 steps-block-col">
          <i class="fa fa-phone"></i>
          <div>
            <h2 *ngIf="company != undefined">{{company.phone}}</h2>
            <em>Hỗ trợ 24/7</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END STEPS -->

  <!-- BEGIN PRE-FOOTER -->
  <div class="pre-footer">
    <div class="container">
      <div class="row" *ngIf="company != undefined">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        <div class="col-md-3 col-sm-6 pre-footer-col">
          <h2>Thông Tin</h2>
          <p>{{company.detail}}
          </p>
          <p>Hotline: {{company.hotline}}</p>
          <p>Email: {{company.email_company}} </p>
        </div>
        <!-- END BOTTOM ABOUT BLOCK -->
        <!-- BEGIN BOTTOM INFO BLOCK -->
        <div class="col-md-3 col-sm-6 pre-footer-col">
          <h2>Dịch vụ</h2>
          <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Sẩn phẩm phụ khoa</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Sẩn phẩm chăm sóc body &amp; da mặt</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Sẩn phẩm Nước hoa cao cấp</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Sẩn phẩm Son môi</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Sẩn phẩm L’EVON</a></li>
          </ul>
        </div>
        <!-- END INFO BLOCK -->

        <!-- BEGIN TWITTER BLOCK  
        <div class="col-md-3 col-sm-6 pre-footer-col">
          <h2 class="margin-bottom-0">Latest Tweets</h2>
          <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @keenthemes...</a>      
        </div>
         END TWITTER BLOCK -->

        <!-- BEGIN BOTTOM CONTACTS -->
        <div class="col-md-3 col-sm-6 pre-footer-col">
          <h2>Our Contacts</h2>
          <address class="margin-bottom-40">
            {{company.address}}<br>
            Phone: {{company.phone}}<br>
            Email: <a href="mailto:{{company.email_personal}}">{{company.email_personal}}</a><br>
            Skype: <a href="skype:{{company.skype}}">{{company.skype}}</a>
          </address>
        </div>
        <!-- END BOTTOM CONTACTS -->
      </div>
      <hr>
      <div class="row">
        <!-- BEGIN SOCIAL ICONS -->
        <div class="col-md-6 col-sm-6">
          <ul class="social-icons">
            <li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>
            <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
            <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
            <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
            <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>
            <li><a href="https://www.youtube.com/watch?v=fk6qxKrr2xA" target="_blank" class="youtube" data-original-title="youtube"></a></li>
            <li><a class="vimeo" data-original-title="vimeo" href="javascript:;"></a></li>
            <li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>
          </ul>
        </div>
        <!-- END SOCIAL ICONS -->
        <!-- BEGIN NEWLETTER -->
        <div class="col-md-6 col-sm-6">
          <div class="pre-footer-subscribe-box pull-right">
            <h2>Nhập email để nhận tin tức sẩn phẩm mới nhất</h2>
            <form action="#">
              <div class="input-group">
                <input type="text" placeholder="Nhập email để nhận tin tức sẩn phẩm mới nhất" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Đăng ký</button>
                </span>
              </div>
            </form>
          </div> 
        </div>
        <!-- END NEWLETTER -->
      </div>
    </div>
  </div>
  <!-- END PRE-FOOTER -->

  <!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6 padding-top-10">
          2019 © Hùng Nguyễn. ALL Rights Reserved. 
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN PAYMENTS -->
        <div class="col-md-6 col-sm-6">
          <ul class="list-unstyled list-inline pull-right">
            <li><img src="http://phucminhtam.net/assets/frontend/layout/img/payments/western-union.jpg" alt="We accept Western Union" title="We accept Western Union"></li>
            <li><img src="http://phucminhtam.net/assets/frontend/layout/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express"></li>
            <li><img src="http://phucminhtam.net/assets/frontend/layout/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
            <li><img src="http://phucminhtam.net/assets/frontend/layout/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
            <li><img src="http://phucminhtam.net/assets/frontend/layout/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
          </ul>
        </div>
        <!-- END PAYMENTS -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->