<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang Chủ</a></li>
        <li class="active">Tin Tức</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12" *ngIf="news != undefined">
        <h1>{{news.title}}</h1>
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->            
            <div class="col-md-9 col-sm-9 blog-item">
              <div class="blog-item-img">
                <!-- BEGIN CAROUSEL -->            
                <div class="front-carousel">
                  <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img [src]="DomSanitizer.bypassSecurityTrustUrl(news.image)" alt="">
                      </div>
                      <div class="item">
                        <!-- BEGIN VIDEO -->   
                        <iframe src="http://player.vimeo.com/video/56974716?portrait=0" style="width:100%; border:0" allowfullscreen="" height="259"></iframe>
                        <!-- END VIDEO -->   
                      </div>
                      <div class="item">
                        <img src="../../assets/frontend/pages/img/posts/img3.jpg" alt="">
                      </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                      <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>                
                </div>
                <!-- END CAROUSEL -->             
              </div>
              <h2><a href="javascript:;">{{news.short_description}}</a></h2>
              <div>
                <p [innerHTML]="DomSanitizer.bypassSecurityTrustHtml(news.description)"></p>
              </div>
              <ul class="blog-info">
                <li><i class="fa fa-user"></i> By {{news.created_by}}</li>
                <li><i class="fa fa-calendar"></i> {{news.created}}</li>
                <li><i class="fa fa-comments"></i> {{news.comments_count}}</li>
                <li><i class="fa fa-tags"></i> {{news.tags}}</li>
              </ul>

              <h2>Bình Luận</h2>
              <div class="comments">
                <div class="media">                    
                  <a href="javascript:;" class="pull-left">
                  <img src="../../assets/frontend/pages/img/people/img1-small.jpg" alt="" class="media-object">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Amin PMT <span>5 giờ trước / <a href="javascript:;">Trả lời</a></span></h4>
                    <p>Sản phẩm phúc minh tâm rất tốt </p>
                    <!-- Nested media object -->
                    <div class="media">
                      <a href="javascript:;" class="pull-left">
                      <img src="../../assets/frontend/pages/img/people/img2-small.jpg" alt="" class="media-object">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Admin MOCHA<span>17 giờ trước / <a href="javascript:;">Trả lời</a></span></h4>
                        <p>Sản phẩm mocha rất tốt </p>
                      </div>
                    </div>
                    <!--end media-->                      
                    <div class="media">
                      <a href="javascript:;" class="pull-left">
                      <img src="../../assets/frontend/pages/img/people/img3-small.jpg" alt="" class="media-object">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Admin <span>2 ngày trước / <a href="javascript:;">Trả lời</a></span></h4>
                        <p>Tất cả các sản phẩm phúc minh tâm và mocha rất tốt </p>
                      </div>
                    </div>
                    <!--end media-->
                  </div>
                </div>
                <!--end media-->
                <div class="media">
                  <a href="javascript:;" class="pull-left">
                  <img src="../../assets/frontend/pages/img/people/img4-small.jpg" alt="" class="media-object">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Khách hàng<span>Tháng 6 25,2013 / <a href="javascript:;">Trả lời</a></span></h4>
                    <p>Sản phẩm PMT và mỹ phẩm MOCHA còn hàng không admin. </p>
                  </div>
                </div>
                <!--end media-->
              </div>

              <div class="post-comment padding-top-40">
                <h3>Gửi Bình Luận</h3>
                <form role="form">
                  <div class="form-group">
                    <label>Tên</label>
                    <input class="form-control" type="text">
                  </div>

                  <div class="form-group">
                    <label>Email <span class="color-red">*</span></label>
                    <input class="form-control" type="text">
                  </div>

                  <div class="form-group">
                    <label>Tin Nhắn</label>
                    <textarea class="form-control" rows="8"></textarea>
                  </div>
                  <p><button class="btn btn-primary" type="submit">Gửi</button></p>
                </form>
              </div>                      
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->            
            <div class="col-md-3 col-sm-3 blog-sidebar">
              <!-- CATEGORIES START -->
              <h2 class="no-top-space">Sản phẩm</h2>
              <ul class="nav sidebar-categories margin-bottom-40">
                <li><a routerLink="/products/1">Phúc Minh Tâm</a></li>
                <li><a routerLink="/products/2">Mỹ phẩm MOCHA</a></li>
              </ul>
              <!-- CATEGORIES END -->

              <!-- BEGIN RECENT NEWS -->                            
              <h2>Bài viết gần nhất</h2>
              <div class="recent-news margin-bottom-10" *ngIf="newsTop3 != undefined">
                <div class="row margin-bottom-10" *ngFor="let newsTop3Item of newsTop3">
                  <div class="col-md-3">
                    <img class="img-responsive" alt="" [src]="DomSanitizer.bypassSecurityTrustUrl(newsTop3Item.image)">                        
                  </div>
                  <div class="col-md-9 recent-news-inner">
                    <h3><a href="javascript:;">{{newsTop3Item.title}}</a></h3>
                    <p>{{newsTop3Item.short_description}}</p>
                  </div>                        
                </div>
              </div>
              <!-- END RECENT NEWS -->                            

              <!-- BEGIN BLOG TALKS 
              <div class="blog-talks margin-bottom-30">
                <h2>Popular Talks</h2>
                <div class="tab-style-1">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Multipurpose</a></li>
                    <li><a data-toggle="tab" href="#tab-2">Documented</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane row-fluid fade in active">
                      <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                      <p><a class="more" href="javascript:;">Read more</a></p>
                    </div>
                    <div id="tab-2" class="tab-pane fade">
                      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                    </div>
                  </div>
                </div>
              </div>                            
               END BLOG TALKS -->

              <!-- BEGIN BLOG PHOTOS STREAM -->
              <div class="blog-photo-stream margin-bottom-20">
                <h2>Hình ảnh</h2>
                <ul class="list-unstyled">
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img5-small.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img1.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img4-large.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img6.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/pics/img1-large.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/pics/img2-large.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img3.jpg"></a></li>
                  <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img2-large.jpg"></a></li>
                </ul>                    
              </div>
              <!-- END BLOG PHOTOS STREAM -->

              <!-- BEGIN BLOG TAGS -->
              <div class="blog-tags margin-bottom-20">
                <h2>Tags</h2>
                <ul *ngIf="tags != undefined">
                  <li *ngFor="let tag of tags"><a href="javascript:;"><i class="fa fa-tags"></i>{{tag}}</a></li>
                </ul>
              </div>
              <!-- END BLOG TAGS -->
            </div>
            <!-- END RIGHT SIDEBAR -->            
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>