<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="#">Trang chủ</a></li>
        <li class="active">Liên Hệ</li>
    </ul>
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12">
        <h1>Bản Đồ Vị trí</h1>
        <div class="content-page">
          <div class="row">
            <div class="col-md-12">
              <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
            </div>
            <div class="col-md-9 col-sm-9">
              <h2>Mẫu điền thông tin liên hệ</h2>
              <p>Hãy điện thông tin và lời nhắn của bạn chúng tôi sẽ liên hệ sớm nhất với bạn</p>
              
              <!-- BEGIN FORM-->
              <form action="#" role="form">
                <div class="form-group">
                  <label for="contacts-name">Tên</label>
                  <input type="text" class="form-control" id="contacts-name">
                </div>
                <div class="form-group">
                  <label for="contacts-email">Email</label>
                  <input type="email" class="form-control" id="contacts-email">
                </div>
                <div class="form-group">
                  <label for="contacts-message">Ghi Chú</label>
                  <textarea class="form-control" rows="5" id="contacts-message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Gửi</button>
                <button type="button" class="btn btn-default">Hủy</button>
              </form>
              <!-- END FORM-->
            </div>

            <div class="col-md-3 col-sm-3 sidebar2">
              <h2>Thông Tin Liên Lạc</h2>
              <address>
                <strong>Tên Công Ty</strong><br>
                Đường<br>
                Quận<br>
                <abbr title="Phone">SĐT:</abbr> SDT
              </address>
              <address>
                <strong>Email</strong><br>
                <a href="mailto:info@email.com">info@email.com</a><br>
                <a href="mailto:support@example.com">support@example.com</a>
              </address>
              <ul class="social-icons margin-bottom-40">
                <li><a href="javascript:;" data-original-title="facebook" class="facebook"></a></li>
                <li><a href="javascript:;" data-original-title="github" class="github"></a></li>
                <li><a href="javascript:;" data-original-title="Goole Plus" class="googleplus"></a></li>
                <li><a href="javascript:;" data-original-title="linkedin" class="linkedin"></a></li>
                <li><a href="javascript:;" data-original-title="rss" class="rss"></a></li>
              </ul>

              <h2 class="padding-top-30">Giới Thiệu</h2>
              <p>Chuyên Cung Cấp Phụ kiện Phụ Khoa và Mỹ pHẩm MOCHA</p>
              <ul class="list-unstyled">
                <li><i class="fa fa-check"></i> Bán Hàng Online</li>
                <li><i class="fa fa-check"></i> Bán Phụ Khoa</li>
                <li><i class="fa fa-check"></i> Bán Mỹ Phẩm MOCHA</li>
              </ul>        
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</div>