<!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
<div class="row margin-bottom-40">
  <!-- BEGIN SALE PRODUCT -->
  <div class="col-md-12 sale-product">
    <h2>Sẩn phẩm mới</h2>
    <div class="owl-carousel owl-carousel5">
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam1.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="http://phucminhtam.net/assets/frontend/pages/img/products/hongam1.jpg" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Kén đặt phụ khoa</a></h3>
          <div class="pi-price">700.000đ</div>
          <div class="sticker sticker-sale"></div>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam2.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="http://phucminhtam.net/assets/frontend/pages/img/products/hongam2.jpg" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Cốt xông rửa phụ khoa</a></h3>
          <div class="pi-price">250.000đ</div>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA1.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA1.jpg" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">BỘ TRỊ MỤN ĐÔNG Y MOCHA</a></h3>
          <div class="pi-price">290.000đ</div>
        </div>
      </div>
      <div>
          <div class="product-item">
            <div class="pi-img-wrapper">
              <img src="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA2.jpg" class="img-responsive" alt="Berry Lace Dress">
              <div>
                <a href="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA2.jpg" class="btn btn-default fancybox-button">Phóng to</a>
                <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
              </div>
            </div>
            <h3><a href="javascript:;">BỘ TÁI SINH KHÓA TRẮNG</a></h3>
            <div class="pi-price">350.000đ</div>
            <div class="sticker sticker-new"></div>
          </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA3.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA3.jpg" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">NƯỚC HOA QUEEN</a></h3>
          <div class="pi-price">420.000đ</div>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA4.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA4.jpg" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">SON KEM MOCHA</a></h3>
          <div class="pi-price">280.000đ</div>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA5.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="http://phucminhtam.net/assets/frontend/pages/img/products/MOCHA5.jpg" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productsale-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">NƯỚC TẨY TRANG 2 TẦNG L’EVON</a></h3>
          <div class="pi-price">330.000đ</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SALE PRODUCT -->
</div>
<!-- END SALE PRODUCT & NEW ARRIVALS -->


<!-- BEGIN fast view of a product -->
<div id="productsale-pop-up" style="display: none; width: 700px;">
    <div class="product-page productlist-pop-up">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-3">
          <div class="product-main-image">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam1.jpg" alt="HỒNG ÂM (PMT) – KÉN ĐẶT PHỤ KHOA" class="img-responsive">
          </div>
          <div class="product-other-images">
            <a href="javascript:;" class="active"><img alt="Berry Lace Dress" src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam1.jpg"></a>
            <a href="javascript:;"><img alt="Berry Lace Dress" src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam2.jpg"></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-9">
          <h2>HỒNG ÂM (PMT) – KÉN ĐẶT PHỤ KHOA</h2>
          <div class="price-availability-block clearfix">
            <div class="price">
              <strong>700.000<span>đ</span></strong>
              <em><span>1000.000</span>đ</em>
            </div>
            <div class="availability">
              Có sẵn: <strong>trong kho</strong>
            </div>
          </div>
          <div class="description">
            <p>Dành cho phụ nữ bị viêm, nấm, ngứa, viêm nhiễm âm đạo, khí hư ra nhiều….Điều trị tất cả các bệnh phụ khoa của phụ nữ</p>
          </div>
          <div class="product-page-options">
            <div class="pull-left">
              <div class="control-label">Lưu ý:</div>
              <p>Trong lúc đặt thuốc kiêng quan hệ, không dành cho phụ nữ có thai và trẻ em dưới 15 tuổi.</p>
            </div>
            <div class="pull-left">
              <div class="control-label">Hướng dẫn sử dụng:</div>
              <p>Hoà tan 1 gói xông rửa với 500ml nước đun sôi, ngồi xông hơi nước cho đến khi nước ngội thì đổ ra chậu ngồi ngân trực tiếp 10-15 phút rồi rửa.</p>
            </div>
          </div>
          <div class="product-page-cart">
            <div class="product-quantity">
                <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
            </div>
            <!--<button class="btn btn-primary" type="submit">Add to cart</button>>-->
            <a routerLink="/product/1" class="btn btn-default">Chi tiết sản phẩm</a>
          </div>
        </div>

        <div class="sticker sticker-sale"></div>
      </div>
</div>
</div>
<!-- END fast view of a product -->