<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="#">Trang chủ</a></li>
        <li class="active">Tuyển Dụng</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-9">
        <h1>Tuyển Dụng</h1>
        <div class="content-page">
          <!-- BEGIN CAROUSEL -->            
          <div class="front-carousel margin-bottom-20">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="../../assets/frontend/pages/img/posts/img1.jpg" alt="">
                </div>
              <div class="item">
                <img src="../../assets/frontend/pages/img/posts/img3.jpg" alt="">
              </div>
            </div>
            <!-- Carousel nav -->
             <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>                
        </div>
        <!-- END CAROUSEL --> 

                <!-- BEGIN INFO BLOCK -->               
                <h2>Mô tả công ty và những yêu cầu</h2>
                <p>Chuyên cung cấp mỹ phẩm và phụ kiện phụ khoa. Chúng tôi đang cần đội ngũ năng động và nhiệt huyết để ứng vào các vị trí sau</p> 
                <!-- BEGIN LISTS -->
                <div class="row front-lists-v1">
                    <div class="col-md-6">
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check"></i> Bán hàng Phụ Khoa</li>
                            <li><i class="fa fa-check"></i> Bán hàng online </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check"></i> Bán hàng mỹ phẩm mocha</li>
                            <li><i class="fa fa-check"></i> Bán hàng online </li>
                        </ul>
                    </div>
                </div>
                <!-- END LISTS -->
                <!-- END INFO BLOCK -->

                <h2>Vị trí tuyển dụng</h2>
                <div id="accordion1" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                                Bán hàng online
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="accordion1_1" class="panel-collapse collapse">
                            <div class="panel-body">
                              Chi tiết
                            </div>
                        </div>
                    </div>         
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                                Bán hàng phụ kiến phụ khoa
                                </a>
                            </h4>
                        </div>
                        <div id="accordion1_2" class="panel-collapse collapse">
                             <div class="panel-body">
                                Chi tiết
                             </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                                Bán hàng mỹ phẩm MOCHA
                                </a>
                            </h4>
                        </div>
                        <div style="height: 0px;" id="accordion1_3" class="panel-collapse collapse">
                             <div class="panel-body">
                                Chi tiết
                            </div>
                        </div>
                    </div>
                </div>                
        </div>
      </div>

      <div class="col-md-3 col-sm-3 sidebar2">
        <h2 class="padding-top-30">Thông Tin Liên Hệ</h2>
        <address>
          <strong>Tên Công Ty</strong><br>
          Đường <br>
          Quận<br>
          <abbr title="Phone">Số Điện Thoại:</abbr> SDT
        </address>
        <address>
          <strong>Email</strong><br>
          <a href="mailto:info@email.com">Email 1</a><br>
          <a href="mailto:support@example.com">Email 2</a>
        </address>

        <h2 class="padding-top-20">Nộp mẫu tuyển dụng</h2>
        <!-- BEGIN FORM-->
        <form action="#" role="form">
          <div class="form-group">
            <label for="career-name">Tên</label>
            <input type="text" class="form-control" id="career-name">
          </div>
          <div class="form-group">
            <label for="career-position">Vị trí</label>
            <select class="form-control" id="career-position">
              <option>Bán Hàng Online</option>
              <option>Bán Hàng Phụ Kiện Phụ Khoa</option>
              <option>Bán Hàng Mỹ Phẩm MOCHA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="career-resume">Mẫu tin hồ sơ</label>
            <input type="file" id="career-resume">
          </div>
          <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Gửi</button>
        </form>
        <!-- END FORM-->                                     
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- BEGIN SIDEBAR & CONTENT -->
  </div>
</div>
