<div class="main">
  <div class="container" *ngIf="product == undefined">
      <img src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif" class="img-responsive" />
  </div>
  <div class="container" *ngIf="product != undefined">
    <ul class="breadcrumb">
    <li><a href="index.html">Trang chủ</a></li>
    <li><a href="">Sản phẩm</a></li>
    <li class="active">{{product.name}}</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
    <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li class="list-group-item clearfix active"><a routerLink="/products/1"><i class="fa fa-angle-right"></i> Phúc Minh Tâm</a></li>
          <li class="list-group-item clearfix dropdown">
            <a href="javascript:void(0);" class="collapsed">
              <i class="fa fa-angle-right"></i>
              MOCHA
            </a>
            <ul class="dropdown-menu" style="display:block;" *ngIf="subcategories != undefined">
              <li class="list-group-item dropdown clearfix" *ngFor="let subCate of getSubcategoryByCategoryId(2)">
                <a routerLink="/products/{{subCate.category_id}}/{{subCate.id}}"><i class="fa fa-angle-right"></i> {{subCate.name}}</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="sidebar-filter margin-bottom-25">
          <h2>Filter</h2>
          <h3>Availability</h3>
          <div class="checkbox-list">
            <label><input type="checkbox"> Not Available (3)</label>
            <label><input type="checkbox"> In Stock (26)</label>
          </div>

          <h3>Price</h3>
          <p>
            <label for="amount">Range:</label>
            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          <div id="slider-range"></div>
        </div>

        <div class="sidebar-products clearfix" *ngIf="products != undefined">
          <h2>Sản phẩm bán chạy nhất</h2>
          <div class="item" *ngFor="let product of products">
            <a href="#"><img [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)" alt="{{product.name}}"></a>
            <h3><a href="#">{{product.name}}</a></h3>
            <div class="price">{{product.price|currency:product.unit}}</div>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7">
    <div class="product-page">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="product-main-image">
            <img [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)" alt="{{product.name}}" class="img-responsive" data-BigImgsrc="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)">
          </div>
          <div class="product-other-images">
            <a href="{{product.image_base64}}" class="fancybox-button" rel="photos-lib"><img alt="{{product.name}}" [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)"></a>
            <a href="{{product.image_base64}}" class="fancybox-button" rel="photos-lib"><img alt="{{product.name}}" [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)"></a>
            <a href="{{product.image_base64}}" class="fancybox-button" rel="photos-lib"><img alt="{{product.name}}" [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)"></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <h1>{{product.name}}</h1>
          <div class="price-availability-block clearfix">
            <div class="price">
              <strong>{{product.price | currency:product.unit}}</strong>
              <em>$<span>1.000.000đ</span></em>
            </div>
            <div class="availability">
              Có sẵn: <strong>Trong kho</strong>
            </div>
          </div>
          <div class="description">
            <p [innerHTML]="DomSanitizer.bypassSecurityTrustHtml(product.description)"></p>
          </div>
          <!--
          <div class="product-page-options">
            <div class="pull-left">
              <label class="control-label">Size:</label>
              <select class="form-control input-sm">
                <option>L</option>
                <option>M</option>
                <option>XL</option>
              </select>
            </div>
            <div class="pull-left">
              <label class="control-label">Color:</label>
              <select class="form-control input-sm">
                <option>Red</option>
                <option>Blue</option>
                <option>Black</option>
              </select>
            </div>
          </div>
          <div class="product-page-cart">
            <div class="product-quantity">
                <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
            </div>
            <button class="btn btn-primary" type="submit">Add to cart</button>
          </div>
          -->
          <div class="review">
            <input type="range" value="4" step="0.25" id="backing4">
            <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
            </div>
            <a href="javascript:;">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;">Write a review</a>
          </div>
          <ul class="social-icons">
            <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
            <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
            <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
            <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
            <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
          </ul>
        </div>

        <div class="product-page-content">
          <ul id="myTab" class="nav nav-tabs">
            <li><a href="#Description" data-toggle="tab">Description</a></li>
            <li><a href="#Information" data-toggle="tab">Information</a></li>
            <li class="active"><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="Description">
              <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. </p>
            </div>
            <div class="tab-pane fade" id="Information">
              <table class="datasheet">
                <tr>
                  <th colspan="2">Additional features</th>
                </tr>
                <tr>
                  <td class="datasheet-features-type">Value 1</td>
                  <td>21 cm</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">Value 2</td>
                  <td>700 gr.</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">Value 3</td>
                  <td>10 person</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">Value 4</td>
                  <td>14 cm</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">Value 5</td>
                  <td>plastic</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade in active" id="Reviews">
              <!--<p>There are no reviews for this product.</p>-->
              <div class="review-item clearfix">
                <div class="review-item-submitted">
                  <strong>Bob</strong>
                  <em>30/12/2013 - 07:37</em>
                  <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>                                              
                <div class="review-item-content">
                    <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                </div>
              </div>
              <div class="review-item clearfix">
                <div class="review-item-submitted">
                  <strong>Mary</strong>
                  <em>13/12/2013 - 17:49</em>
                  <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>                                              
                <div class="review-item-content">
                    <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                </div>
              </div>

              <!-- BEGIN FORM-->
              <form action="#" class="reviews-form" role="form">
                <h2>Write a review</h2>
                <div class="form-group">
                  <label for="name">Name <span class="require">*</span></label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="review">Review <span class="require">*</span></label>
                  <textarea class="form-control" rows="8" id="review"></textarea>
                </div>
                <div class="form-group">
                  <label for="email">Rating</label>
                  <input type="range" value="4" step="0.25" id="backing5">
                  <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                  </div>
                </div>
                <div class="padding-top-20">                  
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </form>
              <!-- END FORM--> 
            </div>
          </div>
        </div>

        <div class="sticker sticker-sale"></div>
      </div>
    </div>
    </div>
    <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

    <!-- BEGIN SIMILAR PRODUCTS -->
    <div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
    <h2>Most popular products</h2>
    <div class="owl-carousel owl-carousel4">
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="../../assets/frontend/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="../../assets/frontend/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-details-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          <div class="sticker sticker-new"></div>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="../../assets/frontend/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="../../assets/frontend/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-details-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="../../assets/frontend/pages/img/products/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="../../assets/frontend/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-details-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="../../assets/frontend/pages/img/products/k4.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="../../assets/frontend/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-details-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
          <div class="sticker sticker-sale"></div>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="../../assets/frontend/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="../../assets/frontend/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-details-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="../../assets/frontend/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="../../assets/frontend/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-details-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="shop-item.html">Berry Lace Dress6</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- END SIMILAR PRODUCTS -->
  </div>
</div>