<ul class="breadcrumb">
    <li><a href="#">Trang chủ</a></li>
    <li class="active"><a href="">Phúc Minh tâm</a></li>
</ul>
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN SIDEBAR -->
  <div class="sidebar col-md-3 col-sm-5">
    <ul class="list-group margin-bottom-25 sidebar-menu">
      <li class="list-group-item clearfix active"><a href="#"><i class="fa fa-angle-right"></i> Phúc Minh Tâm</a></li>
      <li class="list-group-item clearfix dropdown">
        <a href="javascript:void(0);" class="collapsed">
          <i class="fa fa-angle-right"></i>
          MOCHA
        </a>
        <ul class="dropdown-menu" *ngIf="produts != undefined">
          <li *ngFor="let subCate of getSubcategoryByCategoryId(2)"><a href="#"><i class="fa fa-angle-right"></i> {{subCate.name}}</a></li>
        </ul>
      </li>
     </ul>

    <div class="sidebar-filter margin-bottom-25">
      <h2>Filter</h2>
      <h3>Availability</h3>
      <div class="checkbox-list">
        <label><input type="checkbox"> Not Available (3)</label>
        <label><input type="checkbox"> In Stock (26)</label>
      </div>

      <h3>Price</h3>
      <p>
        <label for="amount">Range:</label>
        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider-range"></div>
    </div>

    <div class="sidebar-products clearfix" *ngIf="products != undefined">
      <h2>Sản phẩm bán chạy nhất</h2>
      <div class="item" *ngFor="let product of products">
        <a href="#"><img [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)" alt="{{product.name}}"></a>
        <h3><a href="#">{{product.name}}</a></h3>
        <div class="price">{{product.price|currency:product.unit}}</div>
      </div>
    </div>
  </div>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
  <div class="col-md-9 col-sm-7">
    <div class="row list-view-sorting clearfix">
      <div class="col-md-2 col-sm-2 list-view">
        <a href="javascript:;"><i class="fa fa-th-large"></i></a>
        <a href="javascript:;"><i class="fa fa-th-list"></i></a>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="pull-right">
          <label class="control-label">Show:</label>
          <select class="form-control input-sm">
            <option value="#?limit=24" selected="selected">24</option>
            <option value="#?limit=25">25</option>
            <option value="#?limit=50">50</option>
            <option value="#?limit=75">75</option>
            <option value="#?limit=100">100</option>
          </select>
        </div>
        <div class="pull-right">
          <label class="control-label">Sort&nbsp;By:</label>
          <select class="form-control input-sm">
            <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
            <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
            <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
            <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
            <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
            <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
            <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
            <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
            <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
          </select>
        </div>
      </div>
    </div>
    <!-- BEGIN PRODUCT LIST -->
    <div class="row product-list">
      <!-- PRODUCT ITEM START -->
      <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)" class="img-responsive" alt="{{product.name}}">
            <div>
              <a href="#" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productlist-pop-up" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3><a href="shop-item.html">{{product.name}}</a></h3>
          <div class="pi-price">{{product.price|currency:product.unit}}</div>
          <!--<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>-->
        </div>
      </div>
      <!-- PRODUCT ITEM END -->
    </div>
    <!-- END PRODUCT LIST -->
    <!-- BEGIN PAGINATOR -->
    <div class="row">
      <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
      <div class="col-md-8 col-sm-8">
        <ul class="pagination pull-right">
          <li><a href="javascript:;">&laquo;</a></li>
          <li><a href="javascript:;">1</a></li>
          <li><span>2</span></li>
          <li><a href="javascript:;">3</a></li>
          <li><a href="javascript:;">4</a></li>
          <li><a href="javascript:;">5</a></li>
          <li><a href="javascript:;">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- END PAGINATOR -->
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->

 <!-- BEGIN fast view of a product -->
 <div id="productlist-pop-up" style="display: none; width: 700px;">
    <div class="product-page productlist-pop-up">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-3">
          <div class="product-main-image">
            <img src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam1.jpg" alt="HỒNG ÂM (PMT) – KÉN ĐẶT PHỤ KHOA" class="img-responsive">
          </div>
          <div class="product-other-images">
            <a href="javascript:;" class="active"><img alt="Berry Lace Dress" src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam1.jpg"></a>
            <a href="javascript:;"><img alt="Berry Lace Dress" src="http://phucminhtam.net/assets/frontend/pages/img/products/hongam2.jpg"></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-9">
          <h2>HỒNG ÂM (PMT) – KÉN ĐẶT PHỤ KHOA</h2>
          <div class="price-availability-block clearfix">
            <div class="price">
              <strong>700.000<span>đ</span></strong>
              <em><span>1000.000</span>đ</em>
            </div>
            <div class="availability">
              Có sẵn: <strong>trong kho</strong>
            </div>
          </div>
          <div class="description">
            <p>Dành cho phụ nữ bị viêm, nấm, ngứa, viêm nhiễm âm đạo, khí hư ra nhiều….Điều trị tất cả các bệnh phụ khoa của phụ nữ</p>
          </div>
          <div class="product-page-options">
            <div class="pull-left">
              <div class="control-label">Lưu ý:</div>
              <p>Trong lúc đặt thuốc kiêng quan hệ, không dành cho phụ nữ có thai và trẻ em dưới 15 tuổi.</p>
            </div>
            <div class="pull-left">
              <div class="control-label">Hướng dẫn sử dụng:</div>
              <p>Hoà tan 1 gói xông rửa với 500ml nước đun sôi, ngồi xông hơi nước cho đến khi nước ngội thì đổ ra chậu ngồi ngân trực tiếp 10-15 phút rồi rửa.</p>
            </div>
          </div>
          <div class="product-page-cart">
            <div class="product-quantity">
                <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
            </div>
            <button class="btn btn-primary" type="submit">Add to cart</button>
            <a href="shop-item.html" class="btn btn-default">More details</a>
          </div>
        </div>

        <div class="sticker sticker-sale"></div>
      </div>
</div>
</div>
<!-- END fast view of a product -->