<ul class="breadcrumb">
    <li><a href="#">Trang chủ</a></li>
    <li class="active"><a href="">Phúc Minh tâm</a></li>
</ul>
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN SIDEBAR a-->
  <div class="sidebar col-md-3 col-sm-5">
    <ul class="list-group margin-bottom-25 sidebar-menu">
      <li class="list-group-item clearfix active"><a routerLink="/products/1"><i class="fa fa-angle-right"></i> Phúc Minh Tâm</a></li>
      <li class="list-group-item clearfix dropdown">
        <a href="javascript:void(0);" class="collapsed">
          <i class="fa fa-angle-right"></i>
          MOCHA
        </a>
        <ul class="dropdown-menu" style="display: block;" *ngIf="subcategories != undefined">
          <li *ngFor="let subCate of getSubcategoryByCategoryId(2)">
            <a routerLink="/products/{{subCate.category_id}}/{{subCate.id}}" (click)=(changeTitle(subCate))><i class="fa fa-angle-right"></i> {{subCate.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-products clearfix" *ngIf="products != undefined">
      <h2>Sản phẩm bán chạy nhất</h2>
      <div class="item" *ngFor="let product of products">
        <a routerLink="/product/{{product.id}}"><img [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)" alt="{{product.name}}"></a>
        <h3><a routerLink="/product/{{product.id}}" (click)=(changeTitle(product))>{{product.name}}</a></h3>
        <div class="price">{{product.price|currency:product.unit}}</div>
      </div>
    </div>
  </div>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
  <div class="col-md-9 col-sm-7">
    <div class="row list-view-sorting clearfix">
      <div class="col-md-2 col-sm-2 list-view">
        <a href="javascript:;"><i class="fa fa-th-large"></i></a>
        <a href="javascript:;"><i class="fa fa-th-list"></i></a>
      </div>
    </div>
    <!-- BEGIN PRODUCT LIST -->
    <div class="row product-list" *ngIf="products == undefined">
        <img src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif" class="img-responsive" />
    </div>
    <div class="row product-list">
      <!-- PRODUCT ITEM START -->
      <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img [src]="DomSanitizer.bypassSecurityTrustUrl(product.image_base64)" height="200px" class="img-responsive productList-image" alt="{{product.name}}">
            <div>
              <a href="{{product.image_base64}}" class="btn btn-default fancybox-button">Phóng to</a>
              <a href="#productlist-pop-up" (click)="viewProductDetail(product)" class="btn btn-default fancybox-fast-view">Chi tiết</a>
            </div>
          </div>
          <h3 class="productList-title"><a routerLink="/product/{{product.id}}" (click)="changeTitle(product)">{{product.name}}</a></h3>
          <div class="pi-price">{{product.price|currency:product.unit}}</div>
          <a (click)="addToCarts(product.id)" class="btn btn-default add2cart">Thêm vào giỏ</a>
        </div>
      </div>
      <!-- PRODUCT ITEM END -->
    </div>
    <!-- END PRODUCT LIST -->
    <!-- BEGIN PAGINATOR -->
   
    <!-- END PAGINATOR -->
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->

 <!-- BEGIN fast view of a product -->
 <div id="productlist-pop-up" style="display: none; width: 700px;" *ngIf="productDetail != undefined">
    <div class="product-page productlist-pop-up">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-3">
          <div class="product-main-image">
            <img [src]="DomSanitizer.bypassSecurityTrustUrl(productDetail.image_base64)" alt="{{productDetail.name}}" class="img-responsive">
          </div>
          <div class="product-other-images">
            <a href="javascript:;" class="active"><img alt="{{productDetail.name}}" [src]="DomSanitizer.bypassSecurityTrustUrl(productDetail.image_base64)"></a>
            <a href="javascript:;"><img alt="{{productDetail.name}}" [src]="DomSanitizer.bypassSecurityTrustUrl(productDetail.image_base64)"></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-9">
          <h2>{{productDetail.name}}</h2>
          <div class="price-availability-block clearfix">
            <div class="price">
              <strong>{{productDetail.price | currency:productDetail.unit}}</strong>
              <em><span>1000.000</span>đ</em>
            </div>
            <div class="availability">
              Có sẵn: <strong>trong kho</strong>
            </div>
          </div>
          <div class="description">
            <p [innerHTML]="DomSanitizer.bypassSecurityTrustHtml(productDetail.description)"></p>
          </div>
          <div class="product-page-options">
            <div class="pull-left">
              <div class="control-label"></div>
              <p></p>
            </div>
            
          </div>
          <div class="product-page-cart">
            <div class="product-quantity">
                <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
            </div>
            <!--<button class="btn btn-primary" type="submit">Add to cart</button>-->
            <a routerLink="/product/{{productDetail.id}}" class="btn btn-default">Chi tiết sản phẩm</a>
          </div>
        </div>

        <div class="sticker sticker-sale"></div>
      </div>
</div>
</div>
<!-- END fast view of a product -->