<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Giỏ hàng của bạn</h1>
        <div class="goods-page">
          <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
            <table summary="Shopping cart">
              <tr>
                <th class="goods-page-image">Hình Ảnh</th>
                <th class="goods-page-description">Tên Sản Phẩm</th>
                <th class="goods-page-ref-no">Mã Sản Phẩm</th>
                <th class="goods-page-quantity">Số Lượng</th>
                <th class="goods-page-price">Đơn vị</th>
                <th class="goods-page-total" colspan="2">Tổng Tiền</th>
              </tr>
              <tr *ngIf="isLoading == true">
                  <img src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif" class="img-responsive" />
              </tr>
              <tr *ngFor="let cart of cartItems; let i = index">
                <td class="goods-page-image">
                  <a href="{{DomSanitizer.bypassSecurityTrustUrl(cart.image_base64)}}"><img [src]="DomSanitizer.bypassSecurityTrustUrl(cart.image_base64)" alt="{{cart.name}}"></a>
                </td>
                <td class="goods-page-description">
                  <h3><a routerLink="/product/{{cart.id}}">{{cart.name}}</a></h3>
                  <p><strong>Giá: </strong>{{cart.price | currency: cart.unit}}/1</p>
                  <em>Chi tiết</em>
                </td>
                <td class="goods-page-ref-no">
                  {{cart.id}}
                </td>
                <td class="goods-page-quantity">
                  <div class="product-quantity">
                      <input type="text" value="{{cart.quantity}}" readonly class="form-control input-sm">
                  </div>
                </td>
                <td class="goods-page-price">
                  <strong>{{cart.unit}}</strong>
                </td>
                <td class="goods-page-total">
                  <strong>{{cart.price*cart.quantity | currency: cart.unit}}</strong>
                </td>
                <td class="del-goods-col">
                  <a class="del-goods" (click)="removeCartItems(cart)">&nbsp;</a>
                </td>
              </tr>
            </table>
            </div>

            <div class="shopping-total">
              <ul>
                <li>
                  <em>Tổng Tiền</em>
                  <strong class="price">{{cartItemsInfo.total_price | currency: cartItemsInfo.unit}}</strong>
                </li>
                <li>
                  <em>Phí vẫn chuyển</em>
                  <strong class="price">free</strong>
                </li>
                <li class="shopping-total-price">
                  <em>Thành Tiền</em>
                  <strong class="price">{{cartItemsInfo.total_price | currency: cartItemsInfo.unit}}</strong>
                </li>
              </ul>
            </div>
          </div>
          <button class="btn btn-default" type="submit">Tiếp túc mua hàng <i class="fa fa-shopping-cart"></i></button>
          <button class="btn btn-primary" type="submit">Thanh Toán <i class="fa fa-check"></i></button>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

    <!-- BEGIN SIMILAR PRODUCTS -->
    <div class="row margin-bottom-40">
      <div class="col-md-12 col-sm-12">
        <h2>Most popular products</h2>
        <div class="owl-carousel owl-carousel4">
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="../../assets/frontend/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../../assets/frontend/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
          </div>
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="../../assets/frontend/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../../assets/frontend/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="../../assets/frontend/pages/img/products/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../../assets/frontend/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="../../assets/frontend/pages/img/products/k4.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../../assets/frontend/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              <div class="sticker sticker-sale"></div>
            </div>
          </div>
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="../../assets/frontend/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../../assets/frontend/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="../../assets/frontend/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../../assets/frontend/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress6</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SIMILAR PRODUCTS -->
  </div>
</div>